<html>
    <head>
        <link rel="stylesheet" href="/css/style.css" >
        <title>About</title>
    </head>
    <body>
        {{>header}}
        <img src="/img/img.jpg" id="image">
        {{>footer}}
    </body>
</html>