<html>
    <head>
        <link rel="stylesheet" href="/css/style.css" >
        <title>Help</title>
    </head>
    <body>
        {{>header}}
        <p>Some useful texts</p> 
        {{>footer}}
    </body>
</html>