<html>
    <head>
        <title>Weather</title>
        <link href="/img/weather.png" rel="icon"></link>
        <script src="/js/jquery-3.6.0.js"></script>
        <script src="/js/home.js"></script>
        <link rel="stylesheet" href="/css/style.css" >
    </head>
    <body>
        {{>header}}
            <input type="text" id="city">
            <button id="search">Search</button>
            <p id="cityRes"></p>
        {{>footer}} 
    </body>
</html>